@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Tangerine&display=swap');

body {
    font-family: 'EB Garamond', serif;
    font-size: 14pt;
    padding: 0;
    margin: 16px 0;
    background-color: white
}

#banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 75vh;
    background: url('../img/banner.jpg');
    background-position: 27% 75%;
    background-size: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: -32px;
    z-index: -1;
}

#menu a {
    display: inline-block;
    height: 48px;
    padding: 0 1em;
    text-decoration: none;
    color: rgb(30, 91, 224);
}

#menu a:hover {
    background-color: rgba(30, 91, 224, 0.15);
}

#menu ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu ul li {
    line-height: 48px;
    text-align: center;
    display: inline;
}

.dark-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

h1 {
    font-family: 'Tangerine', cursive;
    font-weight: 400;
    font-size: 50pt;
    text-align: center;
    padding: 0;
    margin: 0.25em 16px;
}

h1 span {
    font-size: 20pt;
    color: rgba(255, 56, 96, 1);
}

h2 {
    font-family: 'Tangerine', cursive;
    font-size: 30pt;
    font-weight: 500;
    text-align: center;
    padding: 0;
    margin: 0.25em 16px;
}

h3 {
    font-family: 'Tangerine', cursive;
    font-weight: 400;
    font-size: 25pt;
    text-align: center;
    padding: 0;
    margin: 0.25em 16px;
}

@media screen and (max-width: 720px) {
    h1 {
        font-size: 40pt;
    }
    h2 {
        font-size: 25pt;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 30pt;
    }
    h2 {
        font-size: 25pt;
    }
}

.card {
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.05);
    max-width: 1024px;
    margin: 0 auto 16px auto;
    background-color: white;
}

@media screen and (max-width: 1056px) {
    .card {
        width: calc(100% - 32px);
        margin: 0 16px 16px 16px;
    }
}

p, ol, ol li {
    margin: 1em;
}

a {
    color: rgb(30, 91, 224);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol {
    padding-left: 0.5em;
}

ol ol {
    margin: 0;
    padding-left: 0.5em;
    list-style-type: lower-alpha;
}

.cursive {
    font-size: 16pt;
    font-weight: 400;
    text-align: center;
    padding: 0;
    margin: 0.25em 16px;
}

address {
    font-style: normal;
    margin: 16px;
    text-align: center;
}

.time {
    text-align: center;
    font-weight: 500;
    margin: 0.5em 16px;
}

.time::before {
    content: "\f017";
    font-family: "Font Awesome 5 Free";
    margin: 0 0.5em 0 0;
    font-weight: normal;
}

.highlight {
    background-color: rgb(253, 255, 138);
}

/* MAPS */

.map {
    position: relative;
    margin: 0;
    width: 100%;
    height: 0;
    padding-top: 50%;
}

.map iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

/* GRID */

.grid-layout {
    display: grid;
    padding: 0;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin: 0 auto 16px auto;
    max-width: 1024px;
}

.grid-item {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    padding-top: 75%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid-item:hover {
    z-index: 1;
    transform: scale(1.02, 1.02);
}

.grid-contents {
    height: 0;
}

.grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.portrait {
    padding-top: 150%;
    grid-row-end: span 2;
}

@media screen and (max-width: 1056px) {
    .grid-layout {
        margin: 0 16px 16px 16px;
    }
}

@media screen and (max-width: 1024px) {
    .grid-layout {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}

@media screen and (max-width: 784px) {
    .grid-layout {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}

@media screen and (max-width: 604px) {
    .grid-layout {
        grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    }
}

#rsvp {
    width: 100%;
    text-align: center;
}

#rsvp a {
    padding: 0.35em 1.2em;
    border: 0.1em solid #000000;
    margin: 0 auto;
    border-radius: 0.3em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    background-color: #8FD2D2;
 }

#rsvp a:hover{
    background-color: #d28fcd;
}
